body {
    border: 4pt solid black;
    font-family: Cursive;
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(255,255,0,1) 17%,rgba(4,255,0,1) 33%,rgba(0,255,255,1) 50%,rgba(0,0,255,1) 67%,rgba(255,0,255,1) 83%,rgba(255,0,0,1) 100%);
}
#row-1 {
    font-size: 130%;
}

table {
    margin-top: 2%;
    margin-left: 2%;
    border: 1pt solid black;
    width: 96%;
    text-align: center;
}

td {
    height: 20px;
    border: 1pt solid black;
    width: 200px;
}

#todo {
    margin-top: -5px;
    margin-left: 7px;
}

#urmumgay {
    padding-left: 30px;
    margin-top: 65px;
}

#breadheading {
    padding-left: 30px;
}
#breadlist {
    margin-left: 3px;
    font-size: 110%;
    margin-top: -10px;
    margin-bottom: 10px;
}

